{% extends "admin/base_site.html" %}

{% load i18n %}

{% block content %}
  <p>
    {% blocktranslate trimmed %}
      OHC team members answer support tickets from every vendor and publish
      events. They are also given staff access so they can reach this admin.
    {% endblocktranslate %}
  </p>
  <form method="post">
    {% csrf_token %}
    <fieldset class="module aligned">
      {{ form.as_div }}
    </fieldset>
    <div class="submit-row">
      <input type="submit"
             value="{% translate 'Add OHC team member' %}"
             class="default" />
      <a href="{% url 'admin:users_user_changelist' %}" class="closelink">{% translate "Cancel" %}</a>
    </div>
  </form>
{% endblock content %}
