{% extends "layouts/error.html" %}

{% load i18n %}

{% block title %}
  {% translate "Not allowed" %}
{% endblock title %}
{% block code %}403{% endblock code %}
{% block heading %}
  {% translate "You do not have access to this page" %}
{% endblock heading %}
{% block message %}
  {% if exception %}
    {{ exception }}
  {% else %}
    {% translate "Your account cannot open this page. If you think it should, ask an admin on your team." %}
  {% endif %}
{% endblock message %}
{% block actions %}
  {% if request.user.is_authenticated %}
    {% if is_ohc_team %}
      <a class="ui-btn ui-btn--default ui-btn--size-default"
         href="{% url 'ohc:queue' %}">{% translate "Go to the OHC console" %}</a>
    {% else %}
      <a class="ui-btn ui-btn--default ui-btn--size-default"
         href="{% url 'dashboard' %}">{% translate "Go to your dashboard" %}</a>
    {% endif %}
  {% else %}
    <a class="ui-btn ui-btn--default ui-btn--size-default"
       href="{% url 'account_login' %}">{% translate "Sign in" %}</a>
  {% endif %}
  <a class="ui-btn ui-btn--outline ui-btn--size-default"
     href="{% url 'home' %}">{% translate "Go home" %}</a>
{% endblock actions %}
