{% load static i18n django_htmx %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="h-full">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        ABDM Sandbox
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ABDM integrator sandbox portal" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" />
    {% endblock css %}
    {% block javascript %}
      <script defer src="{% static 'js/vendor/htmx.min.js' %}"></script>
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="flex min-h-full flex-col bg-slate-50 text-slate-900 {% block bodyclass %}{% endblock bodyclass %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block chrome %}
      <main class="ui-container flex-1 py-10">
        {% include "components/messages.html" %}
        {% block main %}
          {% block content %}
          {% endblock content %}
        {% endblock main %}
      </main>
    {% endblock chrome %}
    {% block modal %}
    {% endblock modal %}
    {% django_htmx_script %}
    {% block inline_javascript %}
    {% endblock inline_javascript %}
  </body>
</html>
