{% extends "account/base_entrance.html" %}

{% comment %}Ask for a reset link by email.{% endcomment %}
{% load i18n ui %}

{% block title %}
  {% translate "Reset your password" %}
{% endblock title %}
{% block entrance_title %}
  {% translate "Reset your password" %}
{% endblock entrance_title %}
{% block entrance_lede %}
  {% translate "Give us the work email on your hub account and we will send you a link to set a new password." %}
{% endblock entrance_lede %}
{% block entrance_body %}
  {% if user.is_authenticated %}
    <div class="ui-alert ui-alert--info" role="status">
      <p class="flex-1">
        {% blocktranslate trimmed with email=user.email %}
          You are already signed in as {{ email }}. Resetting the password will not sign you out.
        {% endblocktranslate %}
      </p>
    </div>
  {% endif %}
  <form class="flex flex-col gap-4"
        method="post"
        action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {% include "components/form_errors.html" %}
    {% translate "Work email" as email_label %}
    {% translate "you@company.in" as email_placeholder %}
    {% ui_field form.email label=email_label placeholder=email_placeholder %}
    {{ redirect_field }}
    <button type="submit"
            class="ui-btn ui-btn--default ui-btn--size-default ui-btn--block">
      {% translate "Send reset link" %}
    </button>
  </form>
{% endblock entrance_body %}
{% block entrance_after %}
  <p class="mt-4 text-center text-[13px] text-muted-foreground">
    {% translate "Remembered it?" %}
    {% url 'account_login' as login_fallback %}
    <a class="ui-prose-link" href="{% firstof login_url login_fallback %}">{% translate "Back to sign in" %}</a>
  </p>
{% endblock entrance_after %}
